@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.cart-one {
  font-family: CarterOne;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -8px;
  min-width: 18px;
  width: fit-content;
  border-radius: 50%;
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: #f02d34;
}
.cart-item-qty {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #eee;
  text-align: center;
  font-weight: 700;
  padding: 2px;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.spin-background {
  animation: spinBackground 7s linear infinite reverse;
}
@keyframes spinBackground {
  0% {
    background-color: rgb(252 165 165);
  }
  50% {
    background-color: rgb(254 240 138);
  }
  100% {
    background-color: rgb(153 246 228);
  }
}
.spin {
  animation: spin 10s linear infinite reverse;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.small-image {
  border-radius: 8px;
  background-color: #ebebeb;

  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}

.variety__product {
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.variety__product:hover {
  transform: scale(1.1, 1.1);
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.item-view {
  display: none;
}

.product:hover .item-view {
  display: block;
}
.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.8em;
  line-height: 1.4em;
}

.hover-effect {
  display: none;
}
.drop-products:hover {
  cursor: pointer;
}
.drop-products:hover .hover-effect {
  display: flex;
}
.hover-effect p:hover {
  text-decoration: underline;
  text-decoration-color: rgb(134, 134, 134);
  color: rgb(134, 134, 134);
  cursor: pointer;
}

.bg-ads {
  background: linear-gradient(
    90deg,
    rgba(204, 57, 238, 0.7) 0%,
    rgba(20, 184, 166, 0.7) 100%
  );
}
.line-grad-col {
  background: linear-gradient(
    90deg,
    rgba(204, 57, 238, 0.7) 0%,
    rgba(20, 184, 166, 0.7) 100%
  );
}

.blog-image {
  background-image: url("/memphis1.jpg");
  background-repeat: repeat;
  background-size: contain;
}
.rotate {
  transform: rotate(-90deg);

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.products_category {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.product-image {
  height: 100px;
}


@media screen and (min-width: 500px) {
  .products_category {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .product-image {
    min-width: 150px;
  }
}
.para_spacing{
  line-height: 1.3;
  letter-spacing: 0.01rem;
  word-spacing: 0.17rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.para_spacing p{
  margin-bottom: 0.6rem;

}
.para_spacing li{
  margin-bottom: 0.5rem
}
.para_spacing ul{
  list-style-type: disc;
}
.para_spacing ol{
  list-style-type:upper-roman;
  
}

.gold{
  background-color: rgb(95, 204, 32);
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 400px
}
.form-group label{
  font-weight: 600;
}

.form-group input{
  border: 1px solid rgb(54, 153, 192);
  border-radius: 0.3rem;
  height: 2rem;
}

::-webkit-scrollbar{
  width: .60rem;
  background-color: gainsboro;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
   background-color: rgb(105, 104, 104);
;

}

/* BLOG */
.c7,.c4, .c5, .c6{
  font-weight: 700;
  margin-top: 1rem;
}


.c12{
  font-weight: 700;
  font-size: 1.2rem;
}

/* Nav menu slide out */
.nav__menu{
  position: fixed;
  bottom:0;
  left: 0;
  transition: transform .3s
  cubic-bezier(0, .52, 0, 1);
  width: 100vw;
  height: 100vh;  
  z-index: 160
}

.nav__menu-hide{
  transform: translate3d(-100vw, 0, 0);
}

.nav__menu-show{
  transform: translate3d(0, 0, 0);

}